* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
}

.btn-1 {
    padding: 2px 3px ;
    background-color: yellow;
    cursor: pointer;
}

.btn-2 {
    padding: 2px 3px ;
    background-color: orangered;
    cursor: pointer;
}